src/Version.hs
.DS_Store
a.out
a.out.dSYM/
dist
dist-newstyle
.ghc.environment.*
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.eq
*.ins
*.rel
*.wit
*.0wit
*.prof
*.hp
*.ps
.stack-work
stack-yaml-lock
**/.tern-port
202101-language.pdf
*.bbl
*.blg
syntax.pdf
**/*.hs.orig
.envrc-local
target/
Cargo.lock
src/Rust/zksc-app-lib/src/generated.rs
src/Rust/zksc-app-lib/src/consts.rs
src/Rust/zksc-app-lib/src/externs.rs
src/Rust/data/pre_ot_data_reg_recv
src/Rust/data/pre_ot_data_reg_send
perf.data
perf.data.old
flamegraph.svg
flame.svg
*.perf
